build/*
mdi/*
.vscode/*
driver/*
driver_20250824/*
driver_20250920/*
driver_20250926/*
driver_20251218/*
driver_20260114/*
lua_libs-api_v9_52X/*
SmartThingsEdgeDrivers-apiv9_52/*
SmartThingsEdgeDrivers-apiv11_54/*
SmartThingsEdgeDrivers-apiv14/*

# macOS Finder
.DS_Store

# Windows Explorer
desktop.ini
