build/*
mdi/*
.vscode/*
driver/*
driver_0824/*
driver_0920/*
driver_0926/*
lua_libs-api_v9_52X/*
SmartThingsEdgeDrivers-apiv9_52/*
SmartThingsEdgeDrivers-apiv11_54/*
SmartThingsEdgeDrivers-apiv14/*

# macOS Finder
.DS_Store

# Windows Explorer
desktop.ini
